* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Itim', cursive;
}

body {
   background-color: #121818;
   position: relative;
   overflow-x: hidden;
   z-index: -3;

}


header img {
   width: 100px;
   aspect-ratio: 1;
   position: absolute;
   left: 30px;
   top: 30px;
   border-radius: 50%;
   transition: .5s;
}

header:hover img {
   transform: rotate(360deg);
   scale: 1.2;
   border-radius: 30%;
}

@media (max-width:900px) {
   header img {
      display: none;
   }
}

.background {
   min-height: 100vh;
   padding: 2px 15px;
}

.title {
   color: white;
   text-align: center;
   font-size: 40px;
   margin-top: 2%;
   margin-bottom: 35px;
}

.display {
   color: white;
   font-size: 25px;
   text-align: center;
   margin-top: 1em;
   margin-bottom: 1em;
}

.hide {
   display: none;
}

.container {
   margin: 0 auto;
   display: grid;
   grid-template-columns: 33% 33% 33%;
   grid-template-rows: 33% 33% 33%;
   max-width: 300px;
}

.tile {
   border: 1px solid white;
   width: 100px;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   cursor: pointer;
   color: white;
   font-family: 'Times New Roman', Times, serif !important;
   position: relative;
   z-index: -3;

}

.playerX {
   color: #09c372;
}

.playerO {
   color: #498AFB;
}

/* 
both buttons */
.swal-modal .swal-text,
.swal-modal .swal-title {
   color: black;
}

.swal-modal button {
   /* set the width and height of the buttons */
   width: 60px;
   height: 60px;
   border-radius: 50%;
   font-size: 36px;
   color: white;
   cursor: pointer;
   margin: 10px;
   border: 1px solid #498AFB;
   padding: 2px 8px;
   margin: 20px 10px;
   font-weight: bold;
}

/* define a class for the X button */
.btnX {
   /* set the background color of the X button to green */
   background-color: green;
}

.btnO {
   /* set the background color of the O button to blue */
   background-color: rgb(0, 0, 255);
}

button {
   transition: .3s;
}

button:hover {
   box-shadow: 0 0 20px rgb(36, 35, 35);
   transform: scale(1.1);
}

.swal-overlay {
   pointer-events: none;
   z-index: 1000;
}


.swal-overlay::after {
   position: absolute;
   content: '';
   width: 100vw;
   max-width: 100%;
   height: 100vw;
   max-height: 100%;
   background-color: #22242480;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: -1;
}

button:active {
   box-shadow: inset 0 0 10px black;
}


.scores {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 18px;
}

.score {
   margin: 10px;
}

.difficulty {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   color: white;
   margin-bottom: 20px;


}

.difficulty h1 {
   margin-right: 10px;
}

.chosen-level {
   text-align: center;
   margin-bottom: 20px;
   color: rgb(255, 255, 255);

}

select {
   padding: 10px;
   font-size: 16px;
   background-color: #222;
   /* Dark background color */
   color: #fff;
   /* Text color */
   border: none;
   border-radius: 5px;
   z-index: -3;


   /* Remove default arrow on some browsers */
}

.score span {
   display: block;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 5px;
}

.controls {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 1em;
}

#reset,
#new-game {
   background-color: red;
   color: white;
   padding: 4px 14px;
   border-radius: 10px;
   border: none;
   font-size: 20px;
   margin-left: 1em;
   cursor: pointer;
}

footer {
   background-color: #333333;
   color: white;
   font-family: Arial, sans-serif;
   font-size: 20px;
   padding: 10px;
   text-align: center;
   background-image: linear-gradient(to right, rgb(36, 38, 44), rgb(19, 32, 39));
   margin-top: 20px;

}

footer span {
   color: red;
   transition: .3s;
}

footer span:hover {
   transform: scale(1.1);
}


/*  hover effect  */
.container:hover>.card::after {
   opacity: 1;
}


.tile:hover::before {
   opacity: 1;
}

.tile::before,
.tile::after {
   border-radius: inherit;
   content: "";
   height: 100%;
   left: 0px;
   opacity: 0;
   position: absolute;
   top: 0px;
   transition: opacity 500ms;
   width: 100%;
}

.tile::before {
   background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
         rgba(255, 255, 255, 0.158),
         transparent 40%);
   z-index: 3;
}

.tile::after {
   background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
         rgba(255, 255, 255, 0.295),
         transparent 40%);
   z-index: 1;
}
